<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Geronimo-nix</title>
</head>
<body>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Geronimo</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Change city</a>
            <a class="p-2 text-dark">Profile</a>
        </nav>
    </div>
</header>
<ul class="list-group">
    <li th:each="place : ${places}" class="list-group-item d-flex justify-content-between align-items-center">
        <span th:text="${place.name}">Text...</span>
        <span th:text="${place.rating}" class="badge badge-primary badge-pill">Text...</span>
    </li>
</ul>
</body>
</html>